.app_dark_theme {
    --bg-color: #0e0e75;
    --inverted-bg-color: #b0b0b5;
    --primary-color: #04ff04;
    --secondary-color: #01b001;
    --inverted-primary-color: #0d44ea;
    --inverted-secondary-color: #0449e0;
}
