.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.editButton {
    margin-left: auto;
}

.saveButton {
    margin-left: 8px;
}

.btnWrapper {
    margin-left: auto;
}
